.Navbar {
  width: 100%;
  height: 10%;

  background-color: #353740;
}

.Navbar__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Navbar__list__item {
  color: #fea04f;
  text-decoration: none;
}
