#LangSwitcher {
  opacity: 0;
  position: absolute;
}

#LangSwitcher:checked + .LangSwitcher__label .fa-ball {
  transform: translateX(24px);
}

.LangSwitcher__label {
  box-sizing: border-box;
  width: 50px;
  height: 26px;
  background-color: var(--bg-color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.fa-ball {
  width: 22px;
  height: 22px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--font-color-primary);
  transition: transform 0.2s linear;
}

.fa-moon,
.fa-sun {
  font-size: 14px;
}
